<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Add log4net config section-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--oracle cloud-->
    <add connectionString="Data Source= (DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = dwpcfb-scan)(PORT = 1521)))(CONNECT_DATA =(SERVER=DEDICATED)(SERVICE_NAME= dpwrd.zfmc.local)));User Id=usrtosn4p;Password=fIKfh4KDgvt$s69U#BgzbZ;" name="N4" />

    <!--prod-->
    <add name="DataServer" connectionString="Password=xxxxxx;Persist Security Info=True;User ID=xxx;Initial Catalog=LoyaltyDB;Data Source=xxxxxxSQL;Application Name=LoyaltyProgram;Connection Timeout=60;"/>

    <!--TEST-->
    <!--<add name="DataServer" connectionString="Password=xxxxxx;Persist Security Info=True;User ID=xxx;Initial Catalog=LoyaltyDB;Data Source=xxxxxSQLTEST;Application Name=LoyaltyProgram;" />-->

  </connectionStrings>

  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\weblogs\LoyaltyPointAutomation\log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.112.3.0" newVersion="4.112.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>