<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="DataServer" connectionString="Password=xxxxxx;Persist Security Info=True;User ID=xxx;Initial Catalog=LoyaltyDB;Data Source=xxxxxxSQL;Application Name=LoyaltyProgram;Connection Timeout=60;"/>
    <add name="N4" connectionString="Data Source= (DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = dpwcau)(PORT = 9999)))(CONNECT_DATA =(SERVER=DEDICATED)(SERVICE_NAME= DPWCAU)));User Id=xxx;Password=xxxxxxxxx"/>
  </connectionStrings>
</configuration>

